<p id="notice"><%= notice %></p>
<div class="container">
  <h2>フォロー</h2>
  <%= render 'followed_users_form', user: @users %>
</div>

<div class="container">
  <h2>フォロワー</h2>
  <%= render 'followers_users_form', user: @users %>
</div>

<%= link_to '戻る', users_path %>
